[submodule "meta/dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot
  ignore = dirty
  branch = master
[submodule "meta/dotbot-asdf"]
	path = meta/dotbot-asdf
  url = https://github.com/sobolevn/dotbot-asdf.git
  branch = master
